* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  background-color: #eee;
}

.wrap {
  overflow: hidden;
  width: 1050px;
  margin: 0 auto;
}

.main_title {
  display: inline-block;
}

.col {
  width: 500px;
  border-radius: 10px;
  background-color: #ddd;
  min-height: 30px;
}

.col_left {
  float: left;
  margin-right: 50px;
}

.col_right {
  float: left;
}

.widget {
  min-height: 100px;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  margin: 20px;
}

.right_info {
  float: right;
  font-size: 1.2em;
  margin-right: 50px;
}


.mind_map__node {
  display: block;
  background-color: #eee;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: inherit;
}
